<div class="header">
  <mat-toolbar class="mat-toolbar">
    <h2>My blog</h2>

    <nav>
      <a routerLink='home' href="javascript:void(0)">Home</a>
      <a routerLink='new-article' href="javascript:void(0)"
        ><mat-icon class="icon-create">create</mat-icon>New Article</a
      >
      <a routerLink='registration' href="javascript:void(0)">Registration</a>
      <a 
      routerLink='login' 
      href="javascript:void(0)">Login</a> 
    </nav>
  </mat-toolbar>
</div>
<mat-progress-bar
  *ngIf="showLoading"
  color="warn"
  mode="query"
  class="loading"
></mat-progress-bar>
