<div *ngIf="post" class="post">
  <hr />
  <div class="post-info">
    <div class="post-info__author">
      <div class="post-info__author__pic">
        <mat-icon class="post-info__author__pic-icon">sentiment_very_satisfied</mat-icon>
      </div>
      <div class="post-info__author__info">
        <p class="post-info__author__info-name">{{ post.author.fullName }}</p>
        <p class="post-info__author__info-date">
          {{ post?.createdAt | date: "longDate" }}
        </p>
      </div>
    </div>
    <div [class.post-info__like-is]="post.like && post.like >= 1" class="post-info__like-no">
      <mat-icon class="post-info__like-icon">thumb_up</mat-icon>
      <p class="post-info__like-number">{{ post?.like.length }}</p>
    </div>
  </div>
  <div class="post-about">
    <h2 class="post-about__title">{{ post.title }}</h2>
    <p class="post-about__preview">{{ post.about }}</p>
  </div>
</div>