<form class="contacts-form" [formGroup]="form" (submit)="onSubmit($event)">
  <div class="contacts-form__item">
    <mat-form-field appearance="fill">
      <mat-label>Your full name</mat-label>
      <input
        matInput
        placeholder="Ex.: Maksym Artemiev"
        formControlName="name"
        required
      />
      <mat-error *ngIf="isFormInvalid('name')">{{
        getErrorMessage("name")
      }}</mat-error>
    </mat-form-field>
  </div>
  <div class="contacts-form__item">
    <mat-form-field appearance="fill">
      <mat-label>Title of your new post</mat-label>
      <input
        matInput
        placeholder="Ex.: REMOTE MEETING"
        formControlName="title"
        required
      />
      <mat-error *ngIf="isFormInvalid('title')">{{
        getErrorMessage("title")
      }}</mat-error>
    </mat-form-field>
  </div>
  <div class="contacts-form__item">
    <mat-form-field appearance="fill">
      <mat-label>Your news for publishing</mat-label>
      <input
        matInput
        placeholder="Ex.: I write about..."
        formControlName="about"
        required
      />
      <mat-error *ngIf="isFormInvalid('about')">{{
        getErrorMessage("about")
      }}</mat-error>
    </mat-form-field>
  </div>
  <div class="contacts-form__item">
    <button
      mat-raised-button
      type="submit"
      class="contacts-form__item--submit"
      [disabled]="form?.touched && !form?.valid"
    >
      Send <mat-icon class="icon-send">send</mat-icon>
    </button>
  </div>
</form>
<button
  mat-stroked-button
  color="warn"
  class="contacts-form__item--close"
  (click)="this.dialogRef.close()"
>
  Close <mat-icon class="icon-close">clear</mat-icon>
</button>
