<div *ngFor="let p of posts" class="post">
    <hr>
    <div class="post__info">
        <div class="post__author">
            <div class="post_author_pic">
                <img src="\assets\emoji.png" alt="user">
            </div>
            <div class="post__author_info">
                <p class="author_name">{{ p.name }}</p>
                <p class="author_date">{{today | date:'longDate'}}</p>
            </div>
        </div>
        <div class="post__like">
            <img src="\assets\thumb-up.png" alt="like">
        </div>
    </div>
    <div class="post__about">
        <h2 class="post__about_title">{{ p.title }}</h2>
        <p class="post__about_preview">{{ p.about }}</p>
        <br>
        <p class="post__about_read">Read more...</p>
    </div>
</div>